html {
	overflow-y: scroll;
}

body { 
    background-image:url('../img/background.jpg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


body {
	padding-top: 50px;
}

.home {
	padding: 40px 15px;
	text-align: center;
	color: white;
}

.commands {
	padding: 40px 15px;
}

.panel {
	border-radius: 10px;
}

td:nth-child(1){
     font-weight: bold;
}


td:first-child { width: 30% ;}
td:first-child { width: 30% ;}
td:nth-child(3) { width: 30% ;}
td:nth-child(4) { width: 30% ;}
td:nth-child(5) { width: 30% ;}

.navbar-brand {
	display: flex;
	align-items: center;
}

.navbar-brand>img {
	padding: 0px 14px;
}

h1 {
	font-size: 100px;
	text-shadow: 0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);
	color: white;
}

.commandstitle {
	font-size: 70px;
	text-shadow: 0 1px 0 #ccc,
		0 2px 0 #c9c9c9,
		0 3px 0 #bbb,
		0 4px 0 #b9b9b9,
		0 5px 0 #aaa,
		0 6px 1px rgba(0,0,0,.1),
		0 0 5px rgba(0,0,0,.1),
		0 1px 3px rgba(0,0,0,.3),
		0 3px 5px rgba(0,0,0,.2),
		0 5px 10px rgba(0,0,0,.25),
		0 10px 10px rgba(0,0,0,.2),
		0 20px 20px rgba(0,0,0,.15);
	color: white;
}

@-webkit-keyframes float-landing {
	0% {
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	to {
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
}
@keyframes float-landing {
	0% {
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0);
	}
	to {
		-webkit-transform: translate3d(0, 20px, 0);
		transform: translate3d(0, 20px, 0);
	}
}

.avatarfloat {
	margin-top: 10px !important;
	margin-bottom: 0px !important;
	-webkit-animation-name: float-landing;
	animation-name: float-landing;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}

.subtitle {
	font-size: 48px;
}

h3 {
	font-size: 45px;
}

.discord {
	height: 62px;
}

.btn-lg {
    padding: 15px 40px;
    font-size: 32px;
}

.navbar {
    -webkit-box-shadow: 0 -50px 50px 50px #000;
    -moz-box-shadow: 0 -50px 50px 50px #000;
    box-shadow: 0 -50px 50px 50px #000;
}

.navbar-collapse {
  text-align: center;
}

@media only screen and (max-width: 560px) and (min-width: 100px)  {
	.subtitle {
		font-size: 30px;
	}
	.discord {
		height: 40px;
	}
	h2 {
		font-size: 25px;
	}
	.btn-lg {
		padding: 15px 40px;
		font-size: 25px;
	}
	.commandstitle {
		font-size: 50px;
	}
}